<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>磁盘文件管理系统</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body id="body">

    <div class="ui dimmer" >
        <div class="content" style="width: 100px;margin-left: auto;margin-right: auto">
            <div class="center" id="dimmer">

            </div>
        </div>
    </div>

    <div class="ui inverted top attached segment">
        <div class="ui center aligned container">
            <h2>磁盘文件管理系统</h2>
        </div>
        <div class="ui right aligned fluid  container m-show-right">
            <div class="ui icon inverted left labeled input focus">
                <div class="ui white label">D:/root/</div>
                <input type="text" placeholder="Search..." id="find">
                <i class="search link icon" id="search"></i>
            </div>
        </div>
    </div>

                    <div class="ui attached segment pushable">
                        <div class="ui visible  left vertical sidebar menu">
                            <!--<a class="item">-->
                                <!--<div class="ui teal basic  label">root</div>-->
                                <!--名称-->
                            <!--</a>-->
                            <!--<a class="item">-->
                                <!--<div class="ui teal basic  label">根目录</div>-->
                                <!--类型-->
                            <!--</a>-->
                            <a class="item">
                                <h3>FAT表的统计情况</h3>
                            </a>
                            <a class="item">
                                <div class="ui teal basic label">D:/root/</div>
                                根目录
                            </a>
                            <a class="item">
                                <div class="ui teal basic  label">128个</div>
                                总磁盘数
                            </a>
                            <a class="item">
                                <div class="ui teal basic  label" ><span id="remaining">126个</span></div>
                                剩余磁盘数
                            </a>
                        </div>

                        <div class="pusher">
                            <div class="ui basic teal top attached segment">

                                <div class="ui two column grid">
                                    <div class="column">
                                        <div class="ui three doubling stackable cards">
                                            <div class="ui card">
                                                <div class="header">
                                                    <div class="ui placeholder">
                                                        <h1 style="text-align: center">文件操作</h1>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <button class="ui teal basic button m-margin-bottom-small file"><i class="file icon"></i>建立文件</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file"><i class="file icon"></i>打开文件</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file"><i class="file icon"></i>读取文件</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file2"><i class="file icon"></i>写入文件</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file2"><i class="file icon"></i>关闭文件</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file2" ><i class="file icon"></i>删除文件</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file3"><i class="file icon"></i>显示文件内容</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file2"><i class="file icon"></i>改变文件属性</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column">
                                        <div class="ui three doubling stackable cards">
                                            <div class="ui card">
                                                <div class="header">
                                                    <div class="ui placeholder">
                                                        <h1 style="text-align: center">目录操作</h1>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <button class="ui teal basic button m-margin-bottom-small file3"><i class="file icon"></i>建立目录</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file3"><i class="file icon"></i>删除空目录</button>
                                                    <button class="ui teal basic button m-margin-bottom-small file3"><i class="file icon"></i>显示目录内容</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
<!--                            <div class="ui teal  segment">-->
<!--                                <div class="ui container">-->
<!--                                    <div class="ui two column grid">-->
<!--                                        <div class="left aligned column">-->
<!--                                            已打开文件数：3个-->
<!--                                        </div>-->
<!--                                        <div class="right aligned column">-->
<!--                                            查看磁盘使用情况-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="ui  attached segments">
                                <div class="ui secondary segment">
                                    <div class="ui two column grid">
                                        <div class="column">
                                            <i class="file alternate icon"></i>已打开文件数：<span id="open">0个</span>
                                        </div>
                                        <div class="right aligned column">
                                            <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui teal segment">
                                    <!--<div class="ui fluid vertical menu">-->
                                        <!--<a href="#"  class="item">-->
                                            <!--学习日志-->
                                            <!--<div class="ui teal basic left pointing label">13</div>-->
                                        <!--</a>-->
                                        <!--<a href="#"  class="item">-->
                                            <!--学习日志-->
                                            <!--<div class="ui teal basic left pointing label">13</div>-->
                                        <!--</a>-->
                                        <!--<a href="#"  class="item">-->
                                            <!--学习日志-->
                                            <!--<div class="ui teal basic left pointing label">13</div>-->
                                        <!--</a>-->
                                        <!--<a href="#"  class="item">-->
                                            <!--学习日志-->
                                            <!--<div class="ui teal basic left pointing label">13</div>-->
                                        <!--</a>-->

                                    <!--</div>-->

                                    <table class="ui celled padded table">
                                        <thead>
                                            <tr>
                                                <th class="single line">文件名</th>
                                                <th>文件属性</th>
                                                <th>起始盘块号</th>
                                                <th>文件长度</th>
                                                <th>操作类型</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

    <footer class="ui inverted bottom attached segment">
        <div class="ui container">
            <div>
                <h2 style="text-align: center">磁盘文件管理系统</h2>
            </div>
            <div class="ui inverted section divider"></div>
            <p style="text-align: center">Copyright © 2019 - 2020 Wuyihan Designed by Wuyihan</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>

    <script>
        // showing multiple
        $('.visible.example .ui.sidebar')
            .sidebar({
                context: '.visible.example .bottom.segment'
            })
            .sidebar('hide')
        ;


        $('.ui.accordion')
            .accordion()
        ;

        $(function () {

            $('.file').click(function () {

                // sessionStorage.setItem("searchParams", $("#table").clone().html());

                $(this).attr("class","ui blue primary button m-margin-bottom-small file");
                location.href = "file1.html";
            });

            $('.file2').click(function () {

                    // sessionStorage.setItem("searchParams", $("#table").clone().html());

                $(this).attr("class","ui blue primary button m-margin-bottom-small file2");
                location.href = "file2.html";
            });

            $('.file3').click(function () {

                    // sessionStorage.setItem("searchParams", $("#table").clone().html());

                $(this).attr("class","ui blue primary button m-margin-bottom-small file3");
                location.href = "file3.html";
            });

            $('#search').click(function () {
                var find = $('#find').val();
                if (find.length == 0){
                    $('#dimmer').html('<div class="ui inverted icon header">\n' +
                        '               <i class="smile outline icon"></i>\n' +
                        '              \n' + '请输入您所要搜索的文件名或目录名！'+
                        '              </div>');
                    $('#body').dimmer('show');
                    return false;
                }else {
                    $.post("findFileOrCatalog",{
                        find : find
                    },function (data) {
                        if (find.indexOf(".") >= 0){
                            if (data.errorMsg != null){
                                $('#dimmer').html('<div class="ui inverted icon header">\n' +
                                    '   <i class="frown outline icon"></i>\n' +
                                    '  \n' +data.errorMsg +
                                    '  </div>');
                                $('#body').dimmer('show');
                            } else {

                                $('#dimmer').html('<table class="ui celled striped table">\n' +
                                    '<thead>\n' +
                                    '<tr><th colspan="6">\n' +
                                    '        文件信息\n' +
                                    '    </th>\n' +
                                    '    </tr></thead>\n' +
                                    '<tbody>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="file outline  icon"></i> 文件名\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.pathName+'</td>\n' +
                                    '        <!--<td class="right aligned collapsing">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="file outline  icon"></i> 文件类型名\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.fileType+'</td>\n' +
                                    '        <!--<td class="right aligned collapsing">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="file outline  icon"></i> 文件属性\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.type+'</td>\n' +
                                    '       <!--<td class="right aligned">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="file outline  icon"></i> 起始盘块号\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.startNum+'</td>\n' +
                                    '        <!--<td class="right aligned">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '               <i class="file outline icon"></i> 文件长度\n' +
                                    '          </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.size+'</td>\n' +
                                    '        <!--<td class="right aligned">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '</tbody>\n' +
                                    '</table>');
                                $('#body').dimmer('show');
                            }
                        } else {
                            if (data.errorMsg != null){
                                $('#dimmer').html('<div class="ui inverted icon header">\n' +
                                    '               <i class="frown outline icon"></i>\n' +
                                    '              \n' +data.errorMsg +
                                    '              </div>');
                                $('#body').dimmer('show');
                            }else {
                                $('#dimmer').html('<table class="ui celled striped table">\n' +
                                    '<thead>\n' +
                                    '<tr><th colspan="6">\n' +
                                    '        目录信息\n' +
                                    '    </th>\n' +
                                    '    </tr></thead>\n' +
                                    '<tbody>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="folder icon"></i> 目录名\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.pathName+'</td>\n' +
                                    '        <!--<td class="right aligned collapsing">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '<tr>\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="folder icon"></i> 目录属性\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.type+'</td>\n' +
                                    '        <!--<td class="right aligned collapsing">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '<tr >\n' +
                                    '        <td class="collapsing" colspan="3">\n' +
                                    '                <i class="folder icon"></i> 起始盘块号\n' +
                                    '            </td>\n' +
                                    '        <td class="right aligned collapsing">'+data.openFileTable.startNum+'</td>\n' +
                                    '       <!--<td class="right aligned">10 hours ago</td>-->\n' +
                                    '    </tr>\n' +
                                    '</tbody>\n' +
                                    '</table>');
                                $('#body').dimmer('show');
                            }
                        }
                    });
                }
            });

            // $('#search').click(function () {
            //     alert("ccc");
            //     $('#body').dimmer('show');
            // });
            // var data = location.search;
            // var pathname = data.split("&")[0].split("=")[1];
            // var type = data.split("&")[1].split("=")[1];
            // var startnum = data.split("&")[2].split("=")[1];
            // var size = data.split("&")[3].split("=")[1];
            // var managertype = data.split("&")[4].split("=")[1];
            // var count = data.split("&")[5].split("=")[1];
            // var flag = data.split("&")[1].split("=")[1];

            // $('#table').html(sessionStorage.getItem("searchParams"));

            var pathname = sessionStorage.getItem("pathname");
            var type = sessionStorage.getItem("type");
            var startnum = sessionStorage.getItem("startnum");
            var size = sessionStorage.getItem("size");
            var managertype = sessionStorage.getItem("managertype");
            var count = sessionStorage.getItem("count");
            var flag = sessionStorage.getItem("flag");

            if (sessionStorage.getItem("searchParams") != null){
                $('#table').html(sessionStorage.getItem("searchParams"));
            }

            if (count != null && pathname != null && type !=null && startnum != null && size != null && managertype != null) {
                $('#remaining').html(count + "个");
                // var name = pathname.split("/")[pathname.split("/").length-1];
                $('#table').append('<tr>\n' +
                    '<td>\n' +
                    '    '+pathname+'\n' +
                    '</td>\n' +
                    '<td>\n' +
                    '    '+decodeURI(type)+'\n' +
                    '</td>\n' +
                    '<td>\n' +
                    '    '+startnum+'\n' +
                    '</td>\n' +
                    '<td >\n' +
                    '    '+size+'\n' +
                    '</td>\n' +
                    '<td>'+decodeURI(managertype)+'</td>\n' +
                    '</tr>');

                sessionStorage.removeItem("type");
                sessionStorage.removeItem("startnum");
                sessionStorage.removeItem("size");
                sessionStorage.removeItem("managertype");
                sessionStorage.setItem("searchParams",$("#table").clone().html());
            }
            if (flag == 1){
                $('#table tr').each(function(){

                          if ($.trim($(this).children('td').eq(0).text()) == pathname){
                              $(this).remove();
                              sessionStorage.removeItem("searchParams");
                              sessionStorage.setItem("searchParams",$("#table").clone().html());
                              //新加
                              sessionStorage.setItem("flag",0);


                              return false;
                          }
                          // if (flag == true){
                          //     $(this).remove();
                          //     sessionStorage.setItem("searchParams",$("#table").clone().html());
                          //     return true;
                          // }
                       });
                // var trList= $('tbody > tr').html();
                // alert(trList)
                // $(trList).each(function (index,item) {
                //     alert(item.children("td").eq(0).html())
                //     alert(item.children("td").eq(1).html())
                // })

            }

            if (count != null){
                $('#remaining').html(count + "个");
            }
            // if (($('#table').find("tr").length ) >=0 && flag == 1){
            //     var length = $('#table').find("tr").length -1 ;
            //     $('#open').html(length + "个");
            // }else if (flag != 1){
            //     $('#open').html($('#table').find("tr").length+ "个");
            // }else{
            //     $('#open').html("0个");
            // }
            $('#open').html($('#table').find("tr").length+ "个");
        })
    </script>
</body>
</html>